@media only screen and (max-width : 800px) {
	.wrapperInner, .cont{
		width:97%;
		margin:0 auto;	
	}
	.content-wrapper{
		top:470px;	
	}
	
}

@media only screen and (max-width : 751px) {
	.content-wrapper{
		top:350px;	
	}
	
	.snIcons{
		float:none;
		display:block;
		text-align:center;	
	}
	
	.splash-container{
		background:url(../images/mainImgBg_751.jpg) 0 0 no-repeat;
		height:579px;	
	}
	.home-menu.pure-menu-open{
		background:url(../images/headerTransBg_768.png) 0 0 no-repeat;	
	}
	.containerpan{
		margin:-43% auto 49px;	
	}
	
	
	.videoPan{
		margin:0;	
	}
	
	h1{
		line-height:35px;
		font-size:36px;	
	}
}

@media only screen and (max-width : 640px) {
	.footer p, ul.ftMenu{
		text-align:center;
		display:block;
		float:none;	
	}
	
	.videoPan iframe{
		height:300px;	
	}
	
	.quoteDiv{
		padding-right:0;	
	}
}

@media only screen and (max-width : 480px) {
	.myform{
		width:97%;	
	}
	
	.splash-container{
		background:url(../images/mainImgBg_480.jpg) 0 0 no-repeat;
		height:426px;	
	}
	.content-wrapper{
		top:426px;	
	}
	.home-menu.pure-menu-open{
		background:url(../images/headerTransBg_480.png) 0 0 no-repeat;	
	}
	
	.containerpan{
		margin:-64% auto 49px;	
	}
	
	
}

@media only screen and (max-width : 320px) {
	.myform{
		width:97%;	
	}
	
	.splash-container{
		background:url(../images/mainImgBg_480.jpg) 0 0 no-repeat;
		height:426px;	
	}
	.content-wrapper{
		top:426px;	
	}
	
	.thumbImgDiv{
		float:none;
		display:block;
		text-align:center;	
	}
	
	.containerpan{
		margin:-85% auto 49px;	
	}
		
}